---
import { Button } from '@/components/ui/button'
import RootLayout from '@/layouts/root.astro'
---

<RootLayout>
  <div class="h-screen w-screen flex justify-center items-center">
    <Button> Click Me! </Button>
  </div>
</RootLayout>
