---
import '@/styles/global.css'
import { Font } from 'astro:assets'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Arrudadev</title>
    <Font cssVariable="--font-geist" preload />
  </head>
  <body class="dark">
    <slot />
  </body>
</html>

<style>
  body {
    font-family: var(--font-geist);
  }
</style>
